*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(191, 199, 214);
    text-align: center;
    font-size: 3rem;

    .watch{
        display: none;
        background: rgb(248, 247, 238);
        width: 40%;
        padding: 10%;
        border-radius: 6%;
        margin-top: 2%;
        margin-left: 22%;
        margin-right: 22%;
        box-shadow: 20px 10px 15px rgb(92, 94, 97);
    }

    #lap{
        display: none;
        font-size: 2rem;
    }

}

button{
    padding: 2%;
    margin: 2%;
    border-radius: 30%;
    outline: none;
    background: linear-gradient(to right, rgb(248, 247, 238), rgb(231, 230, 226),rgb(168, 167, 164), rgb(131, 130, 128));

    &:active{
        background: linear-gradient(to right, rgb(131, 130, 128), rgb(168, 167, 164), rgb(231, 230, 226));
    }

}