*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(191, 214, 198);
    text-align: center;
    font-size: 3rem;

    .watch{
        //display: none;
        background: rgb(250, 241, 228);
        width: 40%;
        padding: 10%;
        border-radius: 6%;
        margin-top: 2%;
        margin-left: 22%;
        margin-right: 22%;
        box-shadow: 20px 10px 15px rgb(92, 94, 97);
    }

    #lap{
        display: none;
        font-size: 2rem;
    }

}

button{
    padding: 2%;
    margin: 2%;
    border-radius: 30%;
    outline: none;
    background: linear-gradient(to right, rgb(187, 245, 221), rgb(166, 235, 206),rgb(127, 189, 153), rgb(106, 155, 127));

    &:active{
        background: linear-gradient(to right, rgb(106, 155, 127), rgb(127, 189, 153), rgb(166, 235, 206));
    }

}